<form id="registro-form" class="auth-form" action="/registro" method="POST">
    <div class="input-group">
        <label for="reg-usuario">Elegí tu Usuario</label>
        <input type="text" id="reg-usuario" name="usuario" required placeholder="Ej: juan123" autocomplete="off">
    </div>

    <div class="input-group">
        <label for="reg-password">Contraseña</label>
        <input type="password" id="reg-password" name="password" required placeholder="Mínimo 6 caracteres">
    </div>

    <button type="submit" class="btn-submit">Crear Cuenta</button>
</form>